<footer>
  <div class="footer">
     <div class="container">
        <div class="row">
                 <div class="col-md-12">
                       <ul class="menu_footer">
                          <li><a class="active" href="index.html">Home</a></li>
                          <li><a href="about.html">About</a></li>
                          <li><a href="services.html">Services</a></li>
                          <li><a href="gallery.html">Gallery</a></li>
                          <li><a href="projects.html">Projects</a></li>
                          <li><a href="blog.html">Blog</a></li>
                          <li><a href="contact.html">Contact</a></li>
                       </ul>
                 </div>
                 <div class="col-md-12">
                   <ul class="top_infomation">
                     <li><a href="javascript:void(0)"><i><img src="images/loc.png" alt="#"/></i></a></li>
                     <li><a href="javascript:void(0)"><i><img src="images/call.png" alt="#"/></i></a></li>      
                     <li><a href="javascript:void(0)"><i><img src="images/mail.png" alt="#"/></i></a></li>   
                       </ul>
                 </div>
        </div>
     </div>
     <div class="copyright">
        <div class="container">
           <div class="row d_flex">
              <div class="col-md-8">
                 <p>© 2022 All Rights Reserved. Design by  <a href="https://html.design/"> Free html Templates</a></p>
              </div>
              <div class="col-md-4">
                <ul class="social_icon_bottom ">
                   <li><a href="Javascript:void(0)"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                   <li><a href="Javascript:void(0)"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                   <li><a href="Javascript:void(0)"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                </ul>
              </div>
           </div>
        </div>
     </div>
  </div>
</footer>
<!-- end footer -->
<!-- Javascript files-->
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>
<script src="/js/jquery-3.0.0.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.8.1/baguetteBox.min.js"></script>
<script src="/js/custom.js"></script>
 <script type="text/javascript">
  baguetteBox.run('.tz-gallery');
</script>
</body>
</html>