<header class="header-area">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 col-sm-3">
        <div class="logo">
          <a href="/">lens<br /><span>light</span></a>
        </div>
      </div>
      <div class="col-md-10">
        <div class="navbar-area">
          <nav class="site-navbar" style="float:right ;">
            <ul>
              <li><a class= "<%= link === 'index' && 'active' %>" href="/">Home</a></li>
              <li><a class= "<%= link === 'about' && 'active' %>" href="/about">About</a></li>
              <li><a class= "<%= link === 'photos' && 'active' %>" href="/photos">Photos</a></li>

              <% if(user) { %>
                <li><a class= "<%= link === 'dashboard' && 'active' %>" href="/users/dashboard">Dashboard</a></li>
                <li><a href="/logout">Logout</a></li>
              <% } else { %>
                
                <li><a class= "<%= link === 'login' && 'active' %>" href="/login">Login</a></li>
                <li><a class= "<%= link === 'register' && 'active' %>" href="/register">Register</a></li>
                
                <% } %>  

              <!-- <li><a href="services.html">Services</a></li>
              <li><a href="projects.html">Projects</a></li>
              <li><a href="blog.html">Blog</a></li>
              <li><a href="contact.html">Contact</a></li> -->
            </ul>
            <!-- <button class="nav-toggler">
              <span></span>
            </button> -->
          </nav>
        </div>
      </div>
      <!-- <div class="col-md-2 di_none">
        <ul class="email text_align_right">
          <li><a href="Javascript:void(0)">Login</a></li>
          <li>
            <a href="Javascript:void(0)"
              ><i class="fa fa-search" aria-hidden="true"></i
            ></a>
          </li>
        </ul>
      </div> -->
    </div>
  </div>
</header>
