<%- include("partials/_header") %>
   <!-- body -->
   <body class="main-layout inner_page">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="#"/></div>
      </div>
      <!-- end loader -->
     
         <!-- header -->
         <%- include("partials/_menu")%>
         <!-- end header inner -->
      <!-- gallery -->
      <div class="gallery">
         <div class="container_with">
            <div class="row">
               <div class="col-md-12">
                  <div class="titlepage text_align_center">
                     <span>03</span>
                     <h2>Our gallery</h2>
                  </div>
               </div>
            </div>
            <div class="tz-gallery">
                     <div class="row">
                        <% for(photo of photos) { %>
                        <div class="col-lg-4 col-md-6 ma_bottom30">
                           <div class="lightbox">
                              <img src="images/g1.jpg" alt="Bridge">
                              <div class="view_main">
                                <div class="pose">
                                <a class="read_more" href = "/photos/<%= photo._id %>"><img src="images/ga.png" alt="#"/></a>
                                <h3 style="padding-top: 10px">
                                  <%=photo.name %>
                                </h3>
                                <p style="padding-top: 10px">
                                  <%= photo.description %>
                                </p>
                              </div>
                              </div>
                           </div>
                        </div>
                     <% } %>
                     </div class='col-md-12'>  
                    <a class="plus_btn" href="gallery.html">+</a>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end gallery -->
      <!-- end footer -->
      <%- include("partials/_footer") %>