<%- include("partials/_header") %>
   <!-- body -->
   <body class="main-layout inner_page">
      <!-- loader  -->
      <div class="loader_bg">
         <div class="loader"><img src="images/loading.gif" alt="#"/></div>
      </div>
      <!-- end loader -->
     
      <%- include("partials/_menu")%>
         <!-- end header inner -->
      <!-- contact -->
        <div class="contact">
          <div class="container">
            <div class="row">
              <div class="col-md-12 ">
                <div class="titlepage text_align_center">
                  <h2>Register</h2>
                </div>
              </div>
              <div class="col-md-8 offset-md-2">
                <form id="request" class="main_form" action="users/register" method="POST">
                  <div class="row">
                    <div class="col-md-12">
                      <input class="form_control" placeholder="Username" type="text" name= "username"> 
                    </div>
                    <div class="col-md-12">
                      <div style="display: none;" class="alert alert-danger" id="username"></div>
                   </div>
                    <div class="col-md-12">
                      <input class="form_control" placeholder="Email" type="email" name="email">                          
                    </div>
                    <div class="col-md-12">
                      <div style="display: none;" class="alert alert-danger" id="email"></div>
                   </div>
                    <div class="col-md-12">
                     <input class="form_control" placeholder="Password" type="password" name="password">                          
                   </div>
                   <div class="col-md-12">
                    <div style="display: none;" class="alert alert-danger" id="password"></div>
                 </div>
                    <div class="col-md-12">
                      <div class="group_form">
                        <button class="send_btn">Register</button>
                      </div>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>


        <script>
          const form = document.querySelector('form')
          const emailError = document.querySelector('#email')
          const passwordError = document.querySelector('#password')
          const usernameError = document.querySelector('#username')

          form.addEventListener("submit", async (e) => {
             e.preventDefault();

             emailError.textContent = "";
             passwordError.textContent = "";
             usernameError.textContent = "";
             emailError.style.display = "none"
             passwordError.style.display = "none"
             usernameError.style.display = "none"

             const email = form.email.value
             const password = form.password.value
             const username = form.username.value

             try {
                const res = await fetch('users/register', {
                   method: "POST",
                   body: JSON.stringify({ email, password, username }),
                   headers: { "Content-Type": "application/json" }
                })

                const data = await res.json();

                if (data) {

                   if (data.email) {
                      emailError.textContent = data.email
                      emailError.style.display = "block"
                   }

                   if (data.password) {
                      passwordError.textContent = data.password
                      passwordError.style.display = "block"
                   }

                   if (data.username) {
                      usernameError.textContent = data.username
                      usernameError.style.display = "block"
                   }
                }
                
                if(data.user) {
                  location.assign("/login")
                }

             } catch (err) {
                console.log("ERR::", err)
             }
          })
       </script>
      <!-- end contact -->
      <!-- end footer -->
      <%- include("partials/_footer") %>